parameters:
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    checkExplicitMixedMissingReturn: true
    checkPhpDocMissingReturn: true
    bootstrapFiles:
        - src/autoload.php

services:
    -
        class: Smile\PhpStan\Reflection\Php\DataObjectClassReflectionExtension
        tags: {phpstan.broker.methodsClassReflectionExtension: {priority: 100}}

    -
        class: Smile\PhpStan\Type\Php\TranslationFunctionReturnTypeExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension

    errorFormatter.filtered:
        class: Smile\PhpStan\Formatters\FilteredErrorFormatter
        arguments:
            tableErrorFormatter: @errorFormatter.table
