parameters:
    checkExplicitMixedMissingReturn: true
    checkPhpDocMissingReturn: true
    bootstrapFiles:
        - src/autoload.php
    ignoreErrors:
        -
            identifier: missingType.generics
            reportUnmatched: false

services:
    -
        class: SmileLab\PhpStan\Reflection\Php\DataObjectClassReflectionExtension
        tags: {phpstan.broker.methodsClassReflectionExtension: {priority: 100}}

    -
        class: SmileLab\PhpStan\Type\Php\TranslationFunctionReturnTypeExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension
