parameters:
    level: 6
    paths:
        - src
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        - '#Creating new [a-zA-Z\\]+ is not covered by backward compatibility promise.#'
        - '#Calling [a-zA-Z\\]+::[a-zA-Z]+\(\) is not covered by backward compatibility promise.#'
